[submodule "libs"]
	path = libs
	url = https://gitlab.futo.org/keyboard/android-libs.git
[submodule "voiceinput-shared/src/main/ml"]
	path = voiceinput-shared/src/main/ml
	url = https://gitlab.futo.org/keyboard/voice-input-models.git
[submodule "java/assets/layouts"]
	path = java/assets/layouts
	url = https://github.com/futo-org/futo-keyboard-layouts.git
[submodule "translations"]
	path = translations
	url = https://gitlab.futo.org/keyboard/keyboard-translations-public.git
[submodule "java/assets/themes"]
	path = java/assets/themes
	url = https://gitlab.futo.org/keyboard/seasonal-themes.git
[submodule "java/res-large"]
	path = java/res-large
	url = https://gitlab.futo.org/keyboard/keyboard-large-resources.git
